<div class="container banner" style="background-image: linear-gradient(-225deg, rgba(99, 110, 117, 0.6) 0%, rgba(100, 103, 113, 0.6) 50%), url(<%= asset_path 'me_guitar1.jpg' %>);">
  <div class="banner-content center">
    <h3>I teach you to enjoy learning <br> so that you love playing</h3>
  </div>
</div>


<div class="container">
  <% @courses.each do |course| %>


<div class="card z-depth-0">
      <div class="row" style="margin: 5rem 0 0 0 !important">
        <div class="col s12 m6" style="padding-left: 0;">
          <div class="card-image hoverable">
            <%= link_to course do %>
              <%= image_tag course.image %>
            <% end %>
          </div>
        </div>

          <div class="col s12 m6">
            <div class="card-content">
              <span class="card-title grey-text text-darken-4 ">
                <%= course.name %>
              </span>
            <div class="overflow grey-text text-darken-4">
              <%= course.content %>
            </div>

            <div class="card-action card-action-mt">
            <span style="font-size: 40px">
               $<%= course.price %>
            </span>
            <%= link_to "Get Pluckin", course, class: "btn btn-primary hoverable" %>
            </div>
          </div>
        </div>
      </div>
      </div>


    <% end %>
    </div>
</div>


