<!DOCTYPE html>
<html>
  <head>
    <title>PluckingCG</title>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    <%= render 'shared/navbar' %>
    <%= render 'shared/message' %>

    <main>
      <!-- <div class="container"> -->
        <%= yield %>
      <!-- </div> -->
    </main>

    <%= render 'shared/footer' %>

  </body>

  <script>
    $(".button-collapse").sideNav();
    $(".dropdown-button").dropdown();
  </script>

</html>
